body{
    background-color: aquamarine;
    
}
p{
    font-size: 7rem;
    text-align: center;
    margin-top: 20%;
    
}
@media(min-width: 319px) and (max-width: 680px){
    body{
    background-color:red;
}}
@media(min-width: 681px) and (max-width:1200px){
    body{
        background-color: blue;
    }
}

@media(min-width: 1201px) and (max-width:1600px){
    body{
        background-color:lime;
    }
}
@media(min-width:1601px){
    body{
        background-color: green;
    }
}